<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>15_nguyenductiep_pro_manageuser</display-name>
	
	<welcome-file-list>
		<welcome-file>login.do</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>manageuser.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CharSetEncodingFilterName</filter-name>
		<filter-class>manageuser.filter.CharsetEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharSetEncodingFilterName</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<session-config>
    	<session-timeout>5</session-timeout>
	</session-config>
	
	<servlet>
		<servlet-name>LoginName</servlet-name>
		<servlet-class>manageuser.controllers.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginName</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutName</servlet-name>
		<servlet-class>manageuser.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutName</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>listUserName</servlet-name>
		<servlet-class>manageuser.controllers.ListUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listUserName</servlet-name>
		<url-pattern>/listUser.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>systemError</servlet-name>
		<servlet-class>manageuser.controllers.SystemErrorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>systemError</servlet-name>
		<url-pattern>/systemError.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>viewUserDetailName</servlet-name>
		<servlet-class>manageuser.controllers.ViewUserDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewUserDetailName</servlet-name>
		<url-pattern>/viewUserDetail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addUserInputName</servlet-name>
		<servlet-class>manageuser.controllers.AddUserInputController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addUserInputName</servlet-name>
		<url-pattern>/addUserInput.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addUserInputName</servlet-name>
		<url-pattern>/addUserValidate.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addUserConfirmName</servlet-name>
		<servlet-class>manageuser.controllers.AddUserConfirmController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addUserConfirmName</servlet-name>
		<url-pattern>/addUserConfirmController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addUserConfirmName</servlet-name>
		<url-pattern>/addUserOk.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>successName</servlet-name>
		<servlet-class>manageuser.controllers.SuccessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>successName</servlet-name>
		<url-pattern>/success.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editUserInputName</servlet-name>
		<servlet-class>manageuser.controllers.EditUserInputController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>editUserInputName</servlet-name>
		<url-pattern>/editUserInput.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>editUserInputName</servlet-name>
		<url-pattern>/editUserValidate.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editUserConfirmName</servlet-name>
		<servlet-class>manageuser.controllers.EditUserConfirmController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editUserConfirmName</servlet-name>
		<url-pattern>/editUserConfirmController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editUserConfirmName</servlet-name>
		<url-pattern>/editUserOk.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteUserName</servlet-name>
		<servlet-class>manageuser.controllers.DeleteUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteUserName</servlet-name>
		<url-pattern>/deleteUser.do</url-pattern>
	</servlet-mapping>
</web-app>